{% extends 'base.html.twig' %}

{% block title %}Mariage{% endblock %}

{% block body %}
    <!--------------- BANNIERE ---------------->

    {% include '_partials/_banner.html.twig' with {'title': 'Wedding Cake', 'banner_class': 'wedding_banner'} %}

    <!--------------- MENU ---------------->
    <section class="menu" id="menu">
        <div class="menu_description">
            <h1>Mariage</h1>
            <p>Nous vous proposons une expérience gustative inoubliable, où chaque tranche est un témoignage de notre
                engagement envers la qualité supérieure. Nous mettons un point d'honneur à sélectionner avec soin les
                meilleurs ingrédients pour nos créations sucrées.
                Chaque gâteau de mariage est confectionné avec des produits de première qualité, provenant de sources
                fiables et respectueuses. Des ingrédients frais et de saison, des chocolats fins, des fruits juteux et
                des épices exquises se réunissent pour donner naissance à des saveurs harmonieuses qui émerveilleront
                vos papilles.
            </p>
        </div>
   <section class="menu" id="menu">
        <div class="menu_content">
            {% for product in mariageProducts %}
            <div class="menu_content_wrapper">
                <div class="menu_content_box">
                    <article>
                        <img src="{{ asset('/assets/img/products/' ~ product.images.first().name) }}" alt="{{ product.productName }}">
                    </article>
                </div>
                <div>
                    <h3>{{ product.productName }}</h3>
                </div>
                <p>
                    {{ product.productDescription }}
                </p>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
