{% extends 'base.html.twig' %}

{% block title %}Mariage{% endblock %}

{% block body %}
    <!--------------- BANNIERE ---------------->

    {% include '_partials/_banner.html.twig' with {'title': 'Wedding Cake', 'banner_class': 'wedding_banner'} %}

    <!--------------- MENU ---------------->
   <section class="menu" id="menu">
        <div class="menu_description">
            <h1>Mariage</h1>
            <p>Dans l'univers enchanté du mariage, chaque instant est précieux, et chaque bouchée devrait être mémorable. Notre collection de gâteaux de mariage est bien plus qu'une simple douceur ; c'est une symphonie de saveurs élégantes et raffinées. Nous croyons en l'art de la pâtisserie et utilisons uniquement les ingrédients les plus prestigieux pour bâtir des créations sucrées d'une beauté exceptionnelle. Du chocolat velouté aux fruits les plus frais, chaque gâteau est une œuvre d'art comestible qui incarne le luxe et l'amour. Laissez-nous vous emmener dans un voyage gustatif exceptionnel pour votre journée spéciale.
            </p>
        </div>
        <div class="menu_content">
            {% for product in mariageProducts %}
            <div class="menu_content_wrapper">
                <div class="menu_content_box">
                    <article>
                         {% if product.images is not empty %}
                            <img src="{{ asset('/assets/img/products/' ~ product.images.first().name) }}" alt="{{ product.productName }}">
                        {% else %}
                            <p>Aucune image disponible</p>
                        {% endif %}
                    </article>
                </div>
                <div>
                    <h3>{{ product.productName }}</h3>
                </div>
                <p>
                    {{ product.productDescription }}
                </p>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
