@font-face {
    font-family: "Minerva Modern";
    src: url("../fonts/minerva-modern/T-26 - Minerva Modern Regular.otf") format("opentype");
}

@font-face {
    font-family: "Fira Sans";
    src: url("../fonts/Fira_Sans/FiraSans-Thin.ttf") format("opentype");
}

:root {
    --pastel_white: #f7f4e6;
    --pastel_yellow: #fde1af;
    --text_color: #000;
    --card_border: 10px;
    --shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    --space: 80px;
    --fstitle: 5em;
    --fstext: 1em;
    --fstitlesection: 3.5em;
    --fssmalltitle: 1.8em;
}

p {
    font-size: var(--fstext);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: "Minerva Modern", sans-serif;
}

.logo {
    position: relative;
    right: 5vw;
}

.logo_img {
    max-height: 75px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    max-height: 75px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.1px;
    transition: all 0.5s ease 0s;
    background-color: var(--pastel_white);
}

header.sticky {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 100px;
    z-index: 10000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 20px;
}

header .navigation {
    display: flex;
    position: relative;
}

header .navigation li {
    position: relative;
    list-style: none;
    margin-left: 15px;
}

header .navigation li a {
    text-decoration: none;
    color: var(--text_color);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 35px;
    border-radius: 3px;
    display: inline-block;
    transition-property: transform;
    transition-duration: 0.5s;
}

header .navigation li a:hover {
    transform: scale(1.11);
}

header .navigation .product_menu {
    display: none;
    list-style-type: none;
    margin-top: 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0px;
    overflow: hidden;
}

header .navigation .product_menu li {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

header .navigation .product_menu li a {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

header.sticky .navigation .product_menu li {
    background-color: rgba(255, 255, 255, 0.9);
}

header .navigation li:hover .product_menu {
    display: block;
}

.accueil_banner {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/back7.jpg") center center / cover;
}

.accueil_banner_content_title {
    font-size: var(--fstitle);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
}

.accueil_banner_content_slogan_text {
    text-align: center;
    font-size: var(--fssmalltitle);
    font-family: "Fira Sans";
    font-weight: 900;
}

.banner {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_content_titleText {
    font-size: var(--fstitle);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
}

@media screen and (max-width: 991px) {
    .accueil_banner
    {
        min-height: 70vh;
    }
    .banner
    {
        min-height: 70vh;
    }
    .accueil_titleText
    {
        margin-top: -45px;
    }
}
@media screen and (max-width: 768px) {
    .accueil_banner
    {
        min-height: 50vh;
    }
    .banner
    {
        min-height: 50vh;
    }
}

.wedding_banner {
    background: url("../img/banner_3.jpg") center center / cover;
}

.patisserie_banner {
    background: url("../img/banner_7.jpg") center top / cover;
}

.boulangerie_banner {
    background: url("../img/banner_8.jpg") center center / cover;
}

.birthday_banner {
    background: url("../img/banner_5.jpg") center center / cover;
}

.verrine_banner {
    background: url("../img/banner_9.jpg") center center / cover;
}

.menu {
    margin-top: var(--space);
}

.menu_banner .accueil_titleText {
    margin-left: 30px;
    font-size: var(--fstitlesection);
}

.menu_banner p {
    margin-left: 40px;
    letter-spacing: 3px;
}

.menu_description {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}

.menu_description h1 {
    padding: 10px;
    text-transform: uppercase;
    font-size: var(--fstitlesection);
    text-align: center;
    display: flex;
    justify-content: center;
}

.menu_description p {
    font-family: "Fira Sans";
    text-align: center;
}

.menu_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 30px;
    margin-bottom: 50px;
}

.menu_content_wrapper {
    margin: 10px;
}

.menu_content_wrapper h3,
p {
    margin-left: 10px;
}

.menu_content_wrapper h3 {
    font-size: var(--fssmalltitle);
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 22px;
}

.menu_content_wrapper p {
    margin-top: 7px;
    font-family: "Fira Sans";
    font-weight: bold;
}

.menu_content_box {
    display: flex;
    width: 100%;
    margin: 10px;
    overflow: hidden;
    border-radius: var(--card_border);
}

.menu_content_box article img {
    height: 100%;
    transition: transform 0.8s ease 0s;
}

.menu_content_box article img:hover {
    transform: scale(1.15);
}

@media screen and (max-width: 991px) {
    .menu_content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .menu_content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .menu_content {
        grid-template-columns: repeat(1, 1fr);
    }
}

.accueil_mission_div {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

#mission_div {
    background-color: var(--pastel_white);
}

.accueil_titleText {
    font-size: var(--fssmalltitle);
    font-weight: 300;
    margin-left: 10px;
}

.accueil_mission_text {
    font-family: "Fira sans";
}

.accueil_mission_div p {
    text-align: justify;
}

.accueil_mission_div_col50 {
    margin: auto auto auto 20px;
    line-height: 30px;
}

.accueil_mission_img {
    border-radius: var(--card_border);
    box-shadow: var(--shadow);
}

.accueil_mission_img2 {
    border-radius: var(--card_border);
    box-shadow: var(--shadow);
}

p {
    font-weight: 300;
    color: rgb(17, 17, 17);
}

.imgBx {
    width: 400px;
}

img {
    width: 100%;
}

footer {
    text-align: center;
    color: var(--text_color);
    background-color: rgb(235, 219, 190);
    position: relative;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2em;
}

.footer_menu {
    list-style: none;
}

.footer_menu li {
    margin: 1.2em;
    text-align: center;
}

footer p {
    max-width: 25em;
    font-size: var(--fstext);
    line-height: 25px;
    margin: 0px auto;
}

.footer_menu a {
    color: var(--text_color);
    text-decoration: none;
}

footer hr {
    color: rgba(0, 0, 0, 0.5);
}

footer .sci {
    display: flex;
    list-style: none;
}

.sci li a {
    text-decoration: none;
}

.sci li a i {
    display: grid;
    place-content: center;
    width: 60px;
    height: 60px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    color: rgb(238, 238, 238);
    transform: scale(0.6);
}

.footer_legal a {
    text-decoration: none;
}

#box1 {
    width: 300px;
}

#box1 img {
    width: 70%;
}

#box1 .copyright {
    display: block;
    margin-top: 10px;
}


#box2 .info {
    text-align: start;
}

#box2 p span {
    font-weight: bold;
    color: black;
}

#box3 a {
    color: rgb(0, 0, 0);
}

.footer_legal {
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

@media screen and (max-width: 992px) {
    .footer_container {
        flex-direction: column;
        align-items:center
    }

    #box1 {
        order: 3;
    }

    #box2 {
        order: 1;
    }

    #box3 {
        order: 2;
    }

    .footer_menu {
        display: flex;
    }

    .sci {
        flex-direction: row;
    }
    .myimgs{
        margin: 0%;
    
    }
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 5%;
    }

    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        position: fixed;
        top: 68px;
        left: 0px;
        display: flex;
        flex-direction: column;
        animation: slideInRight 0.3s forwards;
        transition: transform 0.3s;
        background: var(--pastel_white);
    }

    header .navigation li {
        margin-top: 10px;
        margin-bottom: 10px;
        user-select: none;
    }

    header .navigation li a {
        text-decoration: none;
        color: rgb(17, 17, 17);
        font-size: 1.6em;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url("../img/icon-menu.png") center center / 30px no-repeat;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url("..//img/croix-icon.png") center center / 30px no-repeat;
        cursor: pointer;
    }

    section {
        padding: 150px;
    }

    @keyframes slideInRight {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0%);
        }
    }
}

.contact {
    margin-top: 110px;
}

.contact h1 {
    font-weight: bolder;
    text-transform: uppercase;
}

.contact p,
h1 {
    margin-right: 50px;
    margin-left: 50px;
    font-family: "Fira Sans";
}

.contact_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-bottom: 50px;
    padding: 50px;
    font-family: "Fira Sans";
}

form {
    max-width: 600px;
}

form h2,
input,
textarea,
.contact_button {
    margin: 10px;
    padding: 10px;
}

form input,
textarea {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-family: "Fira Sans";
    font-weight: bolder;
}

form textarea {
    height: 25vh;
    resize: none;
}

.contact_button {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    background: var(--pastel_white);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: relative;
    display: inline-block;
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
    outline: none;
    border: none;
}

.contact_button::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    top: 0px;
    left: 0px;
    direction: rtl;
    z-index: -1;
    box-shadow: rgba(255, 255, 255, 0.6) -7px -7px 20px 0px, rgba(255, 255, 255, 0.6) -4px -4px 5px 0px, rgba(0, 0, 0, 0.133) 7px 7px 20px 0px, rgba(0, 0, 0, 0.067) 4px 4px 5px 0px;
    transition: all 0.3s ease 0s;
}

.contact_button:hover::after {
    left: auto;
    right: 0px;
    width: 100%;
}

.contact_button:active {
    top: 2px;
}

@media screen and (max-width: 768px) {
    .contact_form {
        width: 100%;
        margin-top: -50px;
    }

    .contact_text {
        width: 100%;
        font-size: 14px;
    }

    form {
        max-width: none;
    }

    form h2,
    input,
    textarea,
    .contact_button {
        margin: 5px;
        padding: 5px;
        width: 100%;
    }

    form textarea {
        height: 15vh;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --fstitle: 4em;
        --fstext: 0.9em;
        --fstitlesection: 3em;
        --fssmalltitle: 1.6em;
    }
}

@media screen and (max-width: 992px) {
    :root {
        --fstitle: 3.5em;
        --fstext: 0.9em;
        --fstitlesection: 2.5em;
        --fssmalltitle: 1.4em;
    }

    .accueil_banner_content_title {
        font-size: var(--fstitle);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-align: center;
    }

    section {
        padding: 15px;
    }

    .accueil_banner_content_slogan_text {
        text-align: center;
        font-size: var(--fssmalltitle);
        font-family: "Fira Sans";
        font-weight: 900;
    }

    .accueil_mission_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        padding: 50px;
    }

    .accueil_mission_div_col50 {
        margin: 20px;
        line-height: 30px;
        width: 100%;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .accueil_mission_img {
        border-radius: var(--card_border);
        box-shadow: var(--shadow);
        /* margin-left: 130px; */
    }
}

@media screen and (max-width: 768px) {
    .accueil_banner_content_title {
        font-size: var(--fstitle);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    :root {
        --fstitle: 2.5em;
        --fstitlesection: 2em;
        --fssmalltitle: 1.2em;
    }

    .accueil_banner_content_slogan_text {
        text-align: center;
        font-size: var(--fssmalltitle);
        font-family: "Fira Sans";
        font-weight: 400;
    }
}

/* Boutons */

.btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #218838;
  }

  /* --------------------------- PANIER ----------------------- */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.wrap {
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    padding: 5% 0;
    margin-bottom: 5em;
}

.projTitle {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
    border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.projTitle span {
    font-weight: normal;
    font-style: italic;
    text-transform: lowercase;
    color: #777;
}

/* CART HEADER */
.heading {
    padding: 1em 0;
    border-bottom: 1px solid #D0D0D0;
}

.heading h1 {
    font-size: 2em;
    float: left;
}

.heading a.continue:link,
.heading a.continue:visited {
    text-decoration: none;
    letter-spacing: -.015em;
    font-size: .75em;
    padding: 1em;
    color: #fff;
    background: #82ca9c;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
}

.heading a.continue:after {
    content: "\276f";
    padding: .5em;
    position: relative;
    right: 0;
}

.heading a.continue:hover,
.heading a.continue:focus,
.heading a.continue:active {
    background: #f69679;
}

/* TABLE HEADING */
.tableHead {
    display: table;
    width: 100%;
    font-size: .75em;
}

.tableHead li {
    display: table-cell;
    padding: 1em 0;
    text-align: center;
}

.tableHead li.prodHeader {
    text-align: left;
}

/* CART Items */
.cart {
    padding: 1em 0;
}

.cart .items {
    display: block;
    width: 100%;
    padding: 1.5em;
    border-bottom: 1px solid #fafafa;
}

.cart .items.even {
    background: #fafafa;
}

.cart .items .infoWrap {
    display: table;
    width: 100%;
}

.cart .items .cartSection {
    display: table-cell;
    vertical-align: middle;
}

.cart .items .cartSection .itemNumber {
    font-size: .75em;
    color: #777;
    margin-bottom: .5em;
}

.cart .items .cartSection h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .025em;
}

.cart .items .cartSection p {
    display: inline-block;
    font-size: .85em;
    color: #777777;
}

.cart .items .cartSection p.quantity {
    font-weight: bold;
    color: #333;
}

.cart .items .cartSection p.stockStatus {
    color: #82CA9C;
    font-weight: bold;
    padding: .5em 0 0 1em;
    text-transform: uppercase;
}

.cart .items .cartSection p.stockStatus.out {
    color: #F69679;
}

.cart .items .cartSection .itemImg {
    width: 4em;
    float: left;
}

.cart .items .cartSection.qtyWrap,
.cart .items .cartSection.prodTotal {
    text-align: center;
}

.cart .items input.qty {
    width: 2em;
    text-align: center;
    font-size: 1em;
    padding: .25em;
    margin: 1em .5em 0 0;
}

.cart .items .cartSection .itemImg {
    width: 8em;
    display: inline;
    padding-right: 1em;
}

.special {
    display: block;
}

.special .specialContent {
    padding: 1em 1em 0;
    display: block;
    margin-top: .5em;
    border-top: 1px solid #dadada;
}

.special .specialContent:before {
    content: "\21b3";
    font-size: 1.5em;
    margin-right: 1em;
    color: #6f6f6f;
    font-family: helvetica, arial, sans-serif;
}

a.remove {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background: #e0e0e0;
    padding: .5em;
    font-size: .75em;
    display: inline-block;
    border-radius: 100%;
    line-height: .85;
}

a.remove:hover {
    background: #f30;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    letter-spacing: -.015em;
    font-size: 1em;
    padding: 1em 3em;
    color: #fff;
    background: #82ca9c;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
}

.btn:after {
    content: "\276f";
    padding: .5em;
    position: relative;
    right: 0;
}

.btn:hover,
.btn:focus,
.btn:active {
    background: #f69679;
    &:after {
        right: -10px;
    }
}

/* TOTAL AND CHECKOUT */
.subtotal {
    float: right;
    width: 35%;
}

.subtotal .totalRow {
    padding: .5em;
    text-align: right;
}

.subtotal .totalRow.final {
    font-size: 1.25em;
    font-weight: bold;
}

.subtotal span {
    display: inline-block;
    padding: 0 0 0 1em;
    text-align: right;
}

.subtotal .label {
    font-size: .85em;
    text-transform: uppercase;
    color: #777;
}

.subtotal .value {
    letter-spacing: -.025em;
    width: 35%;
}

.subtotal ul li
{
    list-style: none;
}

@media only screen and (max-width: 39.375em) {
    .wrap {
        width: 98%;
        padding: 2% 0;
    }

    .projTitle {
        font-size: 1.5em;
        padding: 10% 5%;
    }

    .heading {
        padding: 1em;
        font-size: 90%;
    }

    .cart .items .cartSection.qtyWrap {
        width: 10%;
        text-align: center;
        padding: .5em 0;
        float: right;
    }

    .cart .items .cartSection.qtyWrap:before {
        content: "QTY";
        display: block;
        padding: .25em;
        font-size: .75em;
    }

    .cart .items .cartSection.prodTotal,
    .cart .items .cartSection.removeWrap {
        display: none;
    }

    .cart .items .itemImg {
        width: 25%;
    }

    a.btn.continue {
        width: 100%;
        text-align: center;
    }
}
