{% extends 'base.html.twig' %}

{% block title %}Pâtisserie{% endblock %}

{% block body %}
    <!--------------- BANNIERE ---------------->

    {% include '_partials/_banner.html.twig' with {'title': 'Pâtisseries', 'banner_class': 'patisserie_banner'} %}


    <!--------------- MENU ---------------->
   <section class="menu" id="menu">
        <div class="menu_content">
            {% for product in patisserieProducts %}
            <div class="menu_content_wrapper">
                <div class="menu_content_box">
                    <article>
                        <img src="{{ asset('/assets/img/products/' ~ product.images.first().name) }}" alt="{{ product.productName }}">
                    </article>
                </div>
                <div>
                    <h3>{{ product.productName }}</h3>
                </div>
                <p>
                    {{ product.productDescription }}
                </p>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
