{% extends 'base.html.twig' %}

{% block title %}Boulangerie{% endblock %}

{% block body %}
    <!--------------- BANNIERE ---------------->

    {% include '_partials/_banner.html.twig' with {'title': 'Viennoiseries', 'banner_class': 'boulangerie_banner'} %}

    <!--------------- MENU ---------------->
   <section class="menu" id="menu">
        <div class="menu_description">
            <h1>Viennoiserie</h1>
            <p>Le matin est une toile vierge, et nos viennoiseries sont la palette de couleurs qui ajoute une touche de douceur à votre journée. Chaque viennoiserie est un trésor de simplicité et d'élégance. Du croissant croustillant au pain au chocolat fondant, nos créations sont préparées avec soin, utilisant les meilleurs ingrédients pour une expérience matinale exceptionnelle. Nos viennoiseries ne sont pas seulement des petits plaisirs, ce sont des moments de bonheur à savourer. Découvrez la magie de chaque bouchée et laissez-vous emporter par la chaleur et le réconfort de notre viennoiserie artisanale.
            </p>
        </div>
        <div class="menu_content">
            {% for product in boulangerieProducts %}
            <div class="menu_content_wrapper">
                <div class="menu_content_box">
                    <article>
                        <img src="{{ asset('/assets/img/products/' ~ product.images.first().name) }}" alt="{{ product.productName }}">
                    </article>
                </div>
                <div>
                    <h3>{{ product.productName }}</h3>
                </div>
                <p>
                    {{ product.productDescription }}
                </p>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
