{% extends 'base.html.twig' %}

{% block title %}Anniversaire{% endblock %}

{% block body %}
    <!--------------- BANNIERE ---------------->
    {% include '_partials/_banner.html.twig' with {'title': 'Birthday Cake', 'banner_class': 'birthday_banner'} %}

    <!--------------- MENU ---------------->
   <section class="menu" id="menu">
        <div class="menu_description">
            <h1>Anniversaire</h1>
            <p>L'anniversaire, c'est un moment de joie, de rires et de célébration, et chez nous, les gâteaux d'anniversaire sont au cœur de chaque réjouissance. Nous les préparons avec une dose généreuse de créativité et une pincée d'originalité pour que chaque anniversaire soit inoubliable. Imaginez un gâteau qui raconte votre histoire, qui reflète votre personnalité, et qui émerveille tous vos invités. Nos pâtissiers talentueux sont là pour donner vie à vos rêves sucrés et créer des gâteaux d'anniversaire qui sont bien plus que de simples desserts - ce sont des souvenirs délicieux.
            </p>
        </div>
        <div class="menu_content">
            {% for product in anniversaireProducts %}
            <div class="menu_content_wrapper">
                <div class="menu_content_box">
                    <article>
                        <img src="{{ asset('/assets/img/products/' ~ product.images.first().name) }}" alt="{{ product.productName }}">
                    </article>
                </div>
                <div>
                    <h3>{{ product.productName }}</h3>
                </div>
                <p>
                    {{ product.productDescription }}
                </p>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
